


<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Area Chart</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="x_content">
                                <canvas id="myChart" style="min-height: 250px; height: 250px; max-height: 350px; max-width: 100%;"></canvas>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.card -->
        </div>
    </section>
</div>

<input id="ID" value="Show Graph" type="button" />
<br />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">

    $(function () {
        alert("hola")
        $("#ID").click(function () {
            $.ajax({
                type: "POST",
                url: "/Incident/GetProductData",
                data: "",
                contextType: "application/json; charset=utf-8",
                dataType: "json",
                succes: OnSuccessResult,
                error: OnError
            });
            function OnSuccessResult(data) {

            }
            function OnError(data) {

            }

        });
    });
</script>
